<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Paige's TinyApp</title>
  </head>
  <body>
    <% include ../views/partials/_header %>
    <% if(loggedIn) { %>
      <% for(key in authorizedURLS) { %>
        <form method="POST" action="/urls/<%= key %>/delete">
          <br>
          <%= key %> - <%= authorizedURLS[key].url %> - <%= authorizedURLS[key].id %>
          <input type="submit" value="Delete" >
        </form>
        <form method="POST" action="/urls/<%= key %>">
          <input type="submit" value="Edit" >
        </form>
      <% } // end for loop %>

      <br/><br/><br/>
      <form action="/url/new">
    <input type="submit" value="Create a TinyURL">



    <% } else { %>
      <p>You are not signed in. Please login or Register</p>
    <% } %>
  </body>
</html>